.chatLayout {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 25px;
  background: url(../../assets/pms.png);
  background-position: 90% center; 
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #011514;
}

@media only screen and (max-width: 768px) {
  .chatLayout {
    padding: 0px;
  }
}
