.LoginContainer{
    background: linear-gradient(to bottom, black, darkcyan, black) ;
    width: 100%;
    height: 100vh;
    .LoginForm{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        background: #f2f2f2;
        box-s
    }
}